@import "tailwindcss";

:root {
  --digital-blue: #0166ff;
  --white: #ffffff;
  --coffe-bean: #120309;
  --alabaster-grey: #e2e3e4;

  --max-width: 1440px;

  --brand: var(--digital-blue);
  --primary: var(--coffe-bean);
  --secondary: var(--alabaster-grey);

  --radius: 8px;

  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

/* @theme {
  --color-brand: var(--digital-blue);
  --color-background: var(--white);
  --color-primary: var(--coffe-bean);
  --color-secondary: var(--alabaster-grey);

  --max-w-desktop: var(--max-width);
} */
