@import "tailwindcss";

:root {
  --digital-blue: #0166ff;
  --white: #ffffff;
  --coffe-bean: #120309;
  --alabaster-grey: #e2e3e4;

  --max-width: 1440px;

  --brand: var(--digital-blue);
  --primary: var(--coffe-bean);
  --secondary: var(--alabaster-grey);

  --radius: 8px;
}

@theme {
  --color-brand: var(--digital-blue);
  --color-primary: var(--coffe-bean);
  --color-secondary: var(--alabaster-grey);

  --max-w-desktop: var(--max-width);
}
