---
import Layout from "@/layouts/Layout.astro";

Astro.response.status = 404;
---

<Layout title="404" canonical="404">
  <main class="m-auto max-w-4xl space-y-16">
    <div class="mx-auto flex w-full max-w-xl flex-col items-center gap-4">
      <h1 class="text-center text-5xl text-pretty md:text-7xl md:text-nowrap">
        Página no encontrada
      </h1>
      <p class="text-center">
        He buscado por todas partes, pero no he encontrado lo que buscas. Vamos
        a buscar un lugar mejor para ti.
      </p>

      <a
        href="/"
        class="bg-brand group h-14 overflow-y-hidden rounded-lg px-4 py-4 text-white transition-transform hover:scale-95 sm:px-8"
        >Volver a Inicio</a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 240px 16px 160px;
  }
</style>
