---
import ContactForm from "@/components/ContactForm.astro";
import ClipBoardIcon from "@/components/ui/icons/ClipboardIcon.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Contacto | ibraSanusi"
  description="Si buscas un Full Stack Developer para tu equipo o tienes una propuesta de colaboración, hablemos. Respondo rápido."
  canonical="contacto"
>
  <main class="m-auto max-w-4xl space-y-16 p-[170px_16px_40px_16px]">
    <div class="space-y-4">
      <h1
        class="bg-brand-fifth border-brand-fifth-dark mx-auto w-fit rounded-full border px-4 py-1.5 text-center text-xs"
      >
        Contacto
      </h1>
      <p class="text-brand-secondary text-center text-5xl">
        Alguna pregunta, <br />
        <span class="text-white">Soy todo oídos.</span>
      </p>
    </div>

    <article
      class="mx-auto flex w-full items-center justify-between rounded-2xl p-6"
    >
      <div>
        <h2 class="text-gray-second space-y-1 text-sm">Contact details</h2>
        <span>ibra.sanusi.ayo@gmail.com</span>
      </div>

      <button
        class="hover:text-brand text-white/70"
        aria-label="Botón para copiar"><ClipBoardIcon /></button
      >
    </article>

    <ContactForm />
  </main>
</Layout>

<script type="application/ld+json" is:inline>
  {
    "@context": "https://schema.org",
    "@type": "ContactPage",
    "name": "Contacto",
    "url": "https://ibrasanusi.com/contacto",
    "email": "ibra.sanusi.ayo@gmail.com"
  }
</script>
