---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import Projects from "@/components/home/Projects.astro";
import WhatIDo from "@/components/home/WhatIDo.astro";
import WorkExperience from "@/components/home/WorkExperience.astro";
import Pricing from "@/components/home/Pricing.astro";
import CTA from "@/components/home/CTA.astro";
import Technologies from "@/components/home/Technologies.astro";
import FAQ from "@/components/home/FAQ.astro";
---

<Layout>
  <!-- <div id="observer-overlay"></div> -->
  <main class="space-y-16 w-full max-w-[1440px] px-3 mx-auto md:px-28">
    <Hero />
    <Projects />
    <WhatIDo />
    <Technologies />
    <WorkExperience />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
</Layout>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Ibrahim Sanusi",
    "url": "https://ibrasanusi.com",
    // "image": "https://tu-sitio.com/tu-foto.jpg",
    "jobTitle": "Desarrollador Web / Frontend & Fullstack",
    "email": "mailto:ibra.sanusi.ayo@gmail.com",
    "sameAs": [
      "https://linkedin.com/in/ibrahim-ayodeji-sanusi",
      "https://github.com/ibraSanusi"
    ],
    "knowsAbout": [
      "Diseño Web",
      "SEO",
      "Animaciones CSS",
      "Ecommerce",
      "Next.js",
      "React.js",
      "HTML5",
      "CSS",
      "JavaScript",
      "TypeScript",
      "Node.js",
      "Express.js",
      "PostgreSQL"
    ],
    "worksFor": {
      "@type": "Organization",
      "name": "Ibrahim Sanusi Freelance",
      "url": "https://ibrasanusi.com"
    }
  }
</script>
