---
import Button from "../ui/Button.astro";
---

<article
  id="card"
  class="rounded-2xl after:rounded-2xl space-y-6 p-10 border border-brand-fifth-light relative bg-black"
>
  <div class="space-y-2">
    <h3 class="text-center text-2xl text-pretty">
      ¿Estás listo para pasar al siguiente paso?
    </h3>
    <p class="text-white/60 text-sm text-center">
      Lleva tu negocio online con un sitio web responsive, rápido y optimizado
      para SEO. Hablemos de tu proyecto.
    </p>
  </div>

  <div class="space-y-4">
    <Button class="w-full rounded-2xl p-4 bg-brand text-black font-semibold"
      >Hablemos
    </Button>
    <Button
      class="w-full rounded-2xl p-4 bg-brand-fifth-light text-white font-semibold"
      >Agenda una llamada
    </Button>
  </div>
</article>

<style>
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  #card::after {
    content: "";
    background: conic-gradient(
      from var(--angle),
      transparent 90%,
      var(--color-brand),
      transparent
    );
    position: absolute;
    inset: -3px;
    z-index: -6;
    backdrop-filter: blur(50px);
    animation: snake 10s linear infinite;
  }

  @keyframes snake {
    from {
      --angle: 0deg;
    }

    to {
      --angle: 360deg;
    }
  }
</style>
