<article class="rounded-2xl space-y-6 p-10 border border-[#171717]">
  <div class="space-y-2">
    <h3 class="text-center text-2xl text-pretty">
      ¿Estás listo para pasar al siguiente paso?
    </h3>
    <p class="text-gray-second text-sm text-center">
      ¿Listo para hacer realidad tu visión digital? Ya sea un sitio web
      impresionante, una aplicación móvil o un sistema de diseño completo,
      creemos juntos algo excepcional?
    </p>
  </div>

  <div class="space-y-4">
    <button class="w-full rounded-2xl p-4 bg-brand text-black font-semibold"
      >Hablemos
    </button>
    <button class="w-full rounded-2xl p-4 bg-[#171717] text-white font-semibold"
      >Agenda una llamada
    </button>
  </div>
</article>
