---
import GitHubIcon from "../ui/icons/GitHubIcon.astro";
import LinkedInIcon from "../ui/icons/LinkedInIcon.astro";
import UpWorkIcon from "../ui/icons/UpWorkIcon.astro";
---

<footer class="px-4 mt-16">
  <div class="flex flex-col gap-8 py-14 max-w-4xl m-auto w-full">
    <span class="text-2xl leading-6"
      >Construyamos <br /><span class="text-brand-secondary">tu sitio web</span
      >.</span
    >

    <ul id="footer-pages" class="space-y-2">
      <li>
        <span class="text-white">Páginas</span>
      </li>
      <li>
        <a href="/#home" class="text-brand-secondary hover:text-white">Inicio</a
        >
      </li>
      <li>
        <a href="/#pricing" class="text-brand-secondary hover:text-white"
          >Precios</a
        >
      </li>
      <li>
        <a href="/#projects" class="text-brand-secondary hover:text-white"
          >Proyectos</a
        >
      </li>
      <!-- <li>
        <a href="/about" class="text-brand-secondary hover:text-white">About</a>
      </li> -->
      <li>
        <a href="/contact" class="text-brand-secondary hover:text-white"
          >Contacto</a
        >
      </li>
    </ul>

    <div class="flex justify-between items-center">
      <div class="flex gap-4 text-white/70">
        <a class="hover:text-white" href="/legal/aviso">Aviso legal</a>
        <span>•</span>
        <a class="hover:text-white" href="/legal/privacidad"
          >Política de privacidad</a
        >
      </div>

      <!-- Social Media -->
      <div id="footer-social" class="flex flex-row gap-6">
        <a aria-label="Github" href="/https://github.com/ibraSanusi"
          ><GitHubIcon class="size-6" /></a
        >
        <a
          aria-label="LinkedIn"
          href="/https://www.linkedin.com/in/ibrahim-ayodeji-sanusi/"
          ><LinkedInIcon class="size-2" /></a
        >
        <a aria-label="Upwork" href="/upwork"><UpWorkIcon class="size-2" /></a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Para Safari */
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
  }

  #footer-social a:hover {
    transform: scale(120%);
    transition: all 0.2s ease-in-out;
    color: var(--color-brand);
  }
</style>
