---
import CartIcon from "@/components/ui/icons/CartIcon.astro";
import HomeIcon from "@/components/ui/icons/HomeIcon.astro";
import MailIcon from "@/components/ui/icons/MailIcon.astro";
import BookIcon from "../ui/icons/BookIcon.astro";
---

<header>
  <ul
    id="layout-header"
    class="flex flex-row justify-between items-center w-full max-w-72 m-auto fixed top-6 left-1/2 transform -translate-x-1/2 z-10 bg-brand-sixth p-2 rounded-full border border-brand-sixth/10"
  >
    <li id="header-home">
      <a aria-label="Página de inicio" title="Inicio" href="/">
        <HomeIcon />
      </a>
    </li>
    <li>
      <!-- Por ahora apunta a Landings básicas pero cambiar a servicios -->
      <a
        aria-label="Página de servicios"
        title="Servicios landings básicas"
        href="/servicios/landings-basicas"
      >
        <CartIcon />
      </a>
    </li>
    <li id="header-blog">
      <a aria-label="Página de blog" title="Blog" href="/blog">
        <BookIcon />
      </a>
    </li>
    <li>
      <a aria-label="Página de contacto" title="Contacto" href="/contacto">
        <MailIcon />
      </a>
    </li>
  </ul>
</header>

<style>
  ul {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 1px rgb(255, 255, 255, 0.3);
  }

  li {
    color: var(--color-gray-second);
    border-radius: calc(infinity * 1px);
    padding: calc(var(--spacing) * 2);
  }

  .active {
    background-color: #2c2c2c;
    color: white;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const lists = document.getElementsByTagName("li");
    const slug = window.location.pathname;

    for (const list of lists) {
      const link = list.querySelector("a");
      if (!link) continue;
      if (link.getAttribute("href") === slug) {
        list.classList.add("active");
      }
    }
  });
</script>
