---
import BagIcon from "@/components/ui/icons/BagIcon.astro";
import CartIcon from "@/components/ui/icons/CartIcon.astro";
import HomeIcon from "@/components/ui/icons/HomeIcon.astro";
import MailIcon from "@/components/ui/icons/MailIcon.astro";
---

<ul
  class="flex flex-row justify-between items-center w-full max-w-72 m-auto fixed top-6 left-1/2 transform -translate-x-1/2 z-10 bg-brand-sixth p-2 rounded-full border border-brand-sixth/10"
>
  <li class="bg-[#2C2C2C] text-white rounded-full p-2">
    <a href="/">
      <HomeIcon />
    </a>
  </li>
  <li class="rounded-full p-2">
    <a class="text-gray-second" href="/shop">
      <CartIcon />
    </a>
  </li>

  <li class="rounded-full p-2">
    <a class="text-gray-second" href="/work">
      <BagIcon />
    </a>
  </li>
  <li class="rounded-full p-2">
    <a class="text-gray-second" href="/contact">
      <MailIcon />
    </a>
  </li>
</ul>

<style>
  ul {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 1px rgb(255, 255, 255, 0.3);
  }
</style>
