---
import BurgerIcon from "../ui/icons/BurgerIcon.astro";
import Button from "../ui/Button.astro";
---

<header>
  <img src="logo.png" alt="logo de ibrasanusi" />

  <nav>
    <a href="">Inicio</a>
    <a href="">Servicios</a>
    <a href="">Porfolio</a>
    <a href="">Contacto</a>
  </nav>

  <div class="cta-btn">
    <Button>Explícame tu caso</Button>
  </div>

  <div class="cta">
    <div class="cta-btn">
      <Button>Explícame tu caso</Button>
    </div>
    <button><BurgerIcon /></button>
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
    margin: 0px auto;
    padding: 14px;
    & nav {
      display: none;

      & a {
        font-weight: 600;
      }
    }
    img {
      width: 100px;
    }
  }

  .cta-btn {
    display: none;
  }

  .cta {
    display: flex;
    align-items: stretch;
    gap: 8px;

    & button {
      padding: 8px 16px;
      background-color: var(--secondary);
      border-radius: var(--radius);
    }
  }

  nav {
    display: none;
  }

  .active {
    background-color: #2c2c2c;
    color: white;
  }

  @media (width >= 769px) {
    header {
      & nav {
        display: flex;
        flex-direction: row;
        gap: 26px;
      }

      & .cta-btn {
        display: block;
      }
    }

    .cta {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const lists = document.getElementsByTagName("li");
    const slug = window.location.pathname;

    for (const list of lists) {
      const link = list.querySelector("a");
      if (!link) continue;
      if (link.getAttribute("href") === slug) {
        list.classList.add("active");
      }
    }
  });
</script>
