---
import { Image } from "astro:assets";
import BurgerIcon from "../ui/icons/BurgerIcon.astro";
import Button from "../ui/Button.astro";
import logo from "public/logo.png";
---

<header>
  <div class="max-w-desktop mx-auto flex items-center justify-between p-3.5">
    <a href="/"
      ><Image
        src={logo}
        alt="logo de ibrasanusi"
        class="w-[100px]"
        widths={[480, 760, 1200]}
      /></a
    >

    <nav class="hidden md:flex md:flex-row md:gap-[26px]">
      <a href="/" class="font-semibold">Inicio</a>
      <a href="" class="font-semibold">Servicios</a>
      <a href="" class="font-semibold">Porfolio</a>
      <a href="/contacto" class="font-semibold">Contacto</a>
    </nav>

    <div class="hidden md:block">
      <Button>Explícame tu caso</Button>
    </div>

    <div class="flex items-stretch gap-2 md:hidden">
      <div>
        <Button>Explícame tu caso</Button>
      </div>
      <button class="bg-secondary rounded-lg px-4 py-2">
        <BurgerIcon />
      </button>
    </div>
  </div>
</header>

<div
  id="floating_cta"
  class="fixed -top-16 right-8 flex flex-row items-center gap-2 transition-transform"
>
  <Button>Explícame tu caso</Button>
  <button class="bg-ternary rounded-lg p-2">
    <BurgerIcon class="size-10" />
  </button>
</div>

<style>
  @keyframes drop-cta {
    to {
      transform: translateY(90px);
    }
  }

  #floating_cta {
    animation-name: drop-cta;
    animation-fill-mode: both;

    animation-timeline: scroll();
    animation-range: 100px 300px;
  }
</style>
