---
import BurgerIcon from "../ui/icons/BurgerIcon.astro";
import Button from "../ui/Button.astro";
---

<header class="">
  <div class="max-w-desktop mx-auto flex items-center justify-between p-3.5">
    <img src="logo.png" alt="logo de ibrasanusi" class="w-[100px]" />

    <nav class="hidden md:flex md:flex-row md:gap-[26px]">
      <a href="" class="font-semibold">Inicio</a>
      <a href="" class="font-semibold">Servicios</a>
      <a href="" class="font-semibold">Porfolio</a>
      <a href="" class="font-semibold">Contacto</a>
    </nav>

    <div class="hidden md:block">
      <Button>Explícame tu caso</Button>
    </div>

    <div class="flex items-stretch gap-2 md:hidden">
      <div>
        <Button>Explícame tu caso</Button>
      </div>
      <button class="bg-secondary rounded-lg px-4 py-2">
        <BurgerIcon />
      </button>
    </div>
  </div>
</header>
