---
import FolderIcon from "@/components/ui/icons/FolderIcon.astro";
import CartIcon from "@/components/ui/icons/CartIcon.astro";
import HomeIcon from "@/components/ui/icons/HomeIcon.astro";
import MailIcon from "@/components/ui/icons/MailIcon.astro";
import BookIcon from "../ui/icons/BookIcon.astro";
---

<ul
  id="layout-header"
  class="flex flex-row justify-between items-center w-full max-w-72 m-auto fixed top-6 left-1/2 transform -translate-x-1/2 z-10 bg-brand-sixth p-2 rounded-full border border-brand-sixth/10"
>
  <li id="header-home">
    <a aria-label="Página de inicio" href="/#">
      <HomeIcon />
    </a>
  </li>
  <li id="header-projects">
    <a aria-label="Sección de proyectos" href="/#projects">
      <FolderIcon />
    </a>
  </li>
  <li id="header-pricing">
    <a aria-label="Sección de Precios" href="/#pricing">
      <CartIcon />
    </a>
  </li>
  <li id="header-blog">
    <a aria-label="Página de blog" href="/blog">
      <BookIcon />
    </a>
  </li>
  <li>
    <a aria-label="Página de contacto" href="/contacto">
      <MailIcon />
    </a>
  </li>
</ul>

<style>
  ul {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 1px rgb(255, 255, 255, 0.3);
  }

  li {
    color: var(--color-gray-second);
    border-radius: calc(infinity * 1px);
    padding: calc(var(--spacing) * 2);
  }

  .active {
    background-color: #2c2c2c;
    color: white;
  }
</style>
