---
import Button from "../ui/Button.astro";
---

<section class="w-screen p-8 md:h-screen lg:px-24">
  <div
    class="max-w-desktop mx-auto flex h-full w-full flex-col items-center space-y-8 lg:flex-row lg:gap-6"
  >
    <article class="flex w-full flex-col gap-6">
      <div class="mx-auto space-y-4 md:mx-0">
        <span
          class="text-muted block text-center text-sm tracking-wide uppercase lg:text-start"
        >
          Diseñador web especializado en clínicas dentales
        </span>

        <h1
          class="max-w-[20ch] text-center text-2xl leading-tight font-semibold md:text-5xl lg:text-start lg:text-4xl"
        >
          Organizo y priorizo las solicitudes de pacientes
        </h1>
      </div>

      <p
        class="mx-auto w-full max-w-[40ch] text-center text-xl lg:mx-0 lg:max-w-[40ch] lg:text-start"
      >
        Sistemas web sencillos para que recepción sepa a quién contactar primero
        y deje de gestionar pacientes con caos y hojas sueltas.
      </p>
      <a
        class="bg-brand w-full max-w-3xs place-self-center rounded-lg px-6 py-4 font-bold text-white hover:bg-blue-700 lg:max-w-[210px] lg:place-self-start"
        href="/contacto">Explícame tu caso</a
      >
    </article>

    <div class="order-1 w-full rounded-lg">
      <img
        class="mx-auto w-full max-w-[720px] rounded-lg lg:mx-0"
        src="working-image.jpg"
        alt="Foto de Ibrahim de perfil"
      />
    </div>
  </div>
</section>
