---
import Button from "../ui/Button.astro";
---

<section class="h-screen w-screen px-8 lg:px-24">
  <div
    class="max-w-desktop mx-auto flex h-full w-full flex-col items-center space-y-8 lg:flex-row lg:gap-6"
  >
    <article class="flex w-full flex-col gap-6">
      <h1 class="mx-auto text-5xl lg:mx-0 lg:text-7xl">Diseñador web</h1>
      <p
        class="mx-auto w-full max-w-[40ch] text-center text-2xl lg:mx-0 lg:max-w-[30ch] lg:text-start"
      >
        Creo webs y herramientas que ahorran tiempo y organizan el trabajo de tu
        negocio.
      </p>

      <Button>Explícame tu caso</Button>
    </article>

    <div class="order-1 w-full rounded-lg">
      <img
        class="mx-auto w-full max-w-[720px] rounded-lg lg:mx-0"
        src="working-image.jpg"
        alt="Foto de Ibrahim de perfil"
      />
    </div>
  </div>
</section>
