---
import Button from "../ui/Button.astro";
import Carousel from "../ui/Carousel.astro";

const badges = [
  "Diseño Web",
  "SEO",
  "Animaciones",
  "Ecommerce",
  "Next.js",
  "React.js",
];
---

<section class="w-full flex flex-col gap-6 mx-auto">
  <Carousel>
    {
      // Duplicamos los elementos para lograr el efecto infinito
      Array.from({ length: 1 }).map(() =>
        badges.map((badge) => (
          <li class="py-1.5 px-4 basis-[5em] text-nowrap rounded-full text-xs bg-brand-fifth border border-brand-fifth-dark text-center font-medium">
            {badge}
          </li>
        ))
      )
    }
  </Carousel>
  <h1 class="text-brand-secondary text-5xl text-center">
    Soy Ibrahim, <br />
    <span class="text-white">Desarrollador Web.</span>
  </h1>
  <p class="text-brand-secondary text-lg text-center text-pretty">
    Residiendo en Madrid creando Webs para pymes
  </p>

  <div class="flex flex-row gap-4 m-auto">
    <Button>Proyectos</Button>
    <Button variants="secondary">Hablémos de tu proyecto</Button>
  </div>
</section>
