---
import Button from "../ui/Button.astro";
import Carousel from "../ui/Carousel.astro";
import Link from "../ui/Link.astro";

const badges = [
  "Diseño Web",
  "SEO",
  "Animaciones",
  "Ecommerce",
  "Next.js",
  "React.js",
];
---

<section id="home" class="w-full flex flex-col gap-6 mx-auto">
  <Carousel>
    {
      // Duplicamos los elementos para lograr el efecto infinito
      Array.from({ length: 1 }).map(() =>
        badges.map((badge) => (
          <li class="py-1.5 px-4 basis-[5em] text-nowrap rounded-full text-xs bg-brand-fifth border border-brand-fifth-dark text-center font-medium">
            {badge}
          </li>
        ))
      )
    }
  </Carousel>

  <p class="text-brand-secondary text-5xl text-center">
    Soy Ibrahim, <br />
    <span class="text-white">Desarrollador Web. </span>
  </p>
  <h1
    class="text-brand-secondary text-lg text-center text-pretty max-w-[483px] self-center"
  >
    Programador <span class="text-brand">front-end</span> creando webs
    <span class="text-brand">rápidas y modernas</span>
  </h1>

  <div class="flex flex-row gap-4 m-auto">
    <Link href="/#pricing">Precios</Link>
    <Link variants="secondary" href="/contact">Hablémos de tu proyecto</Link>
  </div>
</section>
