---
const process = [
  {
    title: "Lo mantengo simple",
    description:
      "Trabajo con clínicas dentales. Si tu negocio necesitas automatizar procesos y ahorrar tiempo puedes trabajar conmigo.",
    imageUrl: "planning.jpg",
  },
  {
    title: "Como te ayudo",
    description:
      "Tengo una reunión contigo, escucho el problema que necesitas solucionar, te muestro el planteamiento y me pongo a ello.",
    imageUrl: "girl-stressed.jpg",
  },
  {
    title: "Final del proyecto",
    description:
      "Confirmamos que hayas quedado satisfecho y cerramos el proyecto. Si lo necesitas tendrás una formación y si te ha encantado el serviio podríamos seguir con otros desarrollos.",
    imageUrl: "project-ended.jpg",
  },
];
---

<section class="bg-ternary h-auto w-screen p-8 lg:p-24">
  <div
    class="max-w-desktop mx-auto flex h-full w-full flex-col space-y-8 lg:gap-6"
  >
    <h2 class="text-5xl md:text-7xl">Proceso</h2>
    <section class="flex flex-col gap-32">
      {
        process.map((item, index) => (
          <article
            class={`flex flex-col gap-16 md:flex-row md:items-center ${
              index === 1 ? "md:flex-row-reverse" : ""
            }`}
          >
            <div class="flex flex-1 flex-col gap-8">
              <h3 class="text-center text-3xl md:text-start">{item.title}</h3>
              <p class="text-center text-xl text-pretty text-black/70 md:text-start">
                {item.description}
              </p>
              {/* <button class="bg-brand w-[210px] rounded-lg px-6 py-3.5 font-bold text-white">
                Cuentame tu caso
              </button> */}
            </div>

            <div class="flex-1">
              <img
                class="mx-auto w-full max-w-lg rounded-lg md:mx-0"
                src={item.imageUrl}
                alt={`Imagen de ${item.title}`}
              />
            </div>
          </article>
        ))
      }
    </section>
  </div>
</section>
