---
import Carousel from "../ui/Carousel.astro";
---

<div>
  <Carousel>
    <span>icono y nombre</span>
    <span>icono y nombre</span>
    <span>icono y nombre</span>
    <span>icono y nombre</span>
    <span>icono y nombre</span>
  </Carousel>
</div>
