---
import Carousel from "../ui/Carousel.astro";

const tecnologies = [
  "Javascript",
  "HTML5",
  "CSS",
  "TypeScript",
  "PostgresSql",
  "Node.js",
  "Express.js",
  "Next.js",
  "React.js",
  "CSS Animations",
];
---

<div>
  <Carousel>
    {
      // Duplicamos los elementos para lograr el efecto infinito
      Array.from({ length: 1 }).map(() =>
        tecnologies.map((tecnologie) => (
          <li class="py-1.5 px-4 basis-[5em] text-nowrap rounded-full text-xs bg-brand-fifth border border-brand-fifth-dark text-center font-medium">
            {tecnologie}
          </li>
        ))
      )
    }
  </Carousel>
</div>
