---
import StarIcon from "../ui/icons/StarIcon.astro";
---

<div>
  <h3>Testimonios</h3>
  <section>
    <article class="p-10 space-y-4 bg-[#171717] rounded-2xl">
      <div class="flex flex-row text-brand">
        <StarIcon class="size-4" />
        <StarIcon class="size-4" />
        <StarIcon class="size-4" />
        <StarIcon class="size-4" />
        <StarIcon class="size-4" />
      </div>
      <p class="text-white/75">
        “Alex made the design process smooth and exciting. Their unique approach
        and dedication resulted in a polished and cohesive brand aesthetic.”
      </p>
      <div class="flex flex-row gap-4 items-center">
        <img
          class="rounded-full size-12"
          src="/avatar.avif"
          alt="Avatar de un usuario real"
        />
        <div class="flex flex-col">
          <span>María P.</span>
          <span class="text-sm text-gray-second">Emprendedora</span>
        </div>
      </div>
    </article>
  </section>
</div>
