---
import H2Typography from "@/components/ui/H2Typography.astro";
import H3Typography from "@/components/ui/H3Typography.astro";
import TVIcon from "@/components/ui/icons/TVIcon.astro";
import CubeIcon from "@/components/ui/icons/CubeIcon.astro";
import PaintBrushIcon from "@/components/ui/icons/PaintBrushIcon.astro";
import WrenchIcon from "@/components/ui/icons/WrenchIcon.astro";
import Separator from "@/components/ui/Separator.astro";

const whatIDo = [
  {
    icon: TVIcon,
    title: "Página web",
    description: "Presento tu compañía en internet con tu propia página web.",
  },
  {
    icon: PaintBrushIcon,
    title: "Desarrollo a medida",
    description: "Si tu proyecto necesita ser desarrollado a medida",
  },
  {
    icon: CubeIcon,
    title: "Mantenimiento",
    description: "Me encargo de tu página web y la mantengo al día.",
  },
  {
    icon: WrenchIcon,
    title: "Optimización",
    description: "Optimizo tu página web para mejorar la velocidad de carga.",
  },
];
---

<section class="space-y-10">
  <section class="flex flex-row gap-8 items-center">
    <H2Typography>Soluciones</H2Typography>
    <Separator />
  </section>

  <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {
      whatIDo.map((item) => {
        const CustomIcon = item.icon;
        return (
          <article class="p-2 rounded-2xl border-brand-fifth-light border">
            <div class="w-full bg-brand-fifth-light p-6 rounded-lg">
              <div class="rounded-full bg-brand-fifth-light p-4 w-fit m-auto">
                <CustomIcon />
              </div>
            </div>

            <div class="p-6 flex flex-col gap-2">
              <H3Typography>{item.title}</H3Typography>
              <p class="text-center text-gray-second">{item.description}</p>
            </div>
          </article>
        );
      })
    }
  </section>
</section>
