---
import H2Typography from "@/components/ui/H2Typography.astro";
import H3Typography from "@/components/ui/H3Typography.astro";
import TVIcon from "@/components/ui/icons/TVIcon.astro";
import CubeIcon from "@/components/ui/icons/CubeIcon.astro";
import PaintBrushIcon from "@/components/ui/icons/PaintBrushIcon.astro";
import WrenchIcon from "@/components/ui/icons/WrenchIcon.astro";
import Separator from "@/components/ui/Separator.astro";

const whatIDo = [
  {
    icon: TVIcon,
    title: "Front-End que funciona de verdad",
    description:
      "Me encargo de que tu web se vea bien, cargue rápido y no dé problemas. Sin tecnologías innecesarias ni complicaciones: solo lo que tu proyecto necesita para funcionar bien y durar en el tiempo.",
  },
  {
    icon: WrenchIcon,
    title: "Velocidad y rendimiento sin humo",
    description:
      "Hago que tu sitio vaya ligero. Optimizo imágenes, código y estructura SEO para que Google y tus usuarios lo noten. Nada de magia: mejoras reales y medibles.",
  },
  {
    icon: PaintBrushIcon,
    title: "Maquetación cuidada al detalle",
    description:
      "Si ya tienes un diseño, lo convierto en una web fiel, ordenada y agradable de usar. Si no lo tienes, te propongo una estructura clara, bonita y sin distracciones.",
  },
  {
    icon: CubeIcon,
    title: "IComponentes y pequeñas funcionalidades",
    description:
      "Formularios, animaciones, sliders, secciones dinámicas… Si necesitas una pieza concreta para tu web, la construyo limpia, reutilizable y fácil de mantener.",
  },
];
---

<div class="space-y-10">
  <div class="flex flex-row gap-8 items-center">
    <H2Typography>Qué hago</H2Typography>
    <Separator />
  </div>
  <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {
      whatIDo.map((item) => {
        const CustomIcon = item.icon;
        return (
          <article class="p-2 rounded-2xl border-brand-fifth-light border">
            <div class="w-full bg-brand-fifth-light p-6 rounded-lg">
              <div class="rounded-full bg-brand-fifth-light p-4 w-fit m-auto">
                <CustomIcon />
              </div>
            </div>

            <div class="p-6 flex flex-col gap-2">
              <H3Typography>{item.title}</H3Typography>
              <p class="text-center text-gray-second">{item.description}</p>
            </div>
          </article>
        );
      })
    }
  </section>
</div>
