<form id="form" class="space-y-4 rounded-2xl p-6 shadow-2xl">
  <h2 class="text-brand-secondary text-2xl md:text-3xl">
    Tu web preparada para captar clientes, <br />
    <span class="text-white">desde el primer día.</span>
  </h2>

  <div class="flex flex-row gap-4 *:grow">
    <input
      class="focus:border-b-brand border-b border-b-black/70 focus-visible:ring-0 focus-visible:outline-none"
      placeholder="Nombre y apellidos"
      name="fullname"
      id="fullname"
      type="text"
    />

    <input
      placeholder="Correo electrónico de contacto"
      class="focus:border-b-brand border-b border-b-black/70 focus-visible:ring-0 focus-visible:outline-none"
      name="email"
      id="email"
      type="text"
    />
  </div>

  <div class="flex flex-col gap-4">
    <textarea
      placeholder="Cuéntame brevemente qué necesitas o qué problema quieres resolver."
      class="focus:border-b-brand border-b border-b-black/70 focus-visible:ring-0 focus-visible:outline-none"
      rows="3"
      name="comment"
      id="comment"></textarea>
  </div>

  <button
    id="submitButton"
    type="submit"
    class="bg-brand w-full place-self-center rounded-lg px-6 py-4 font-bold text-white hover:bg-blue-700 lg:max-w-[210px] lg:place-self-start"
  >
    Solicitar presupuesto
  </button>
</form>

<script is:inline>
  addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("form");

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      const origin = window.location.origin;

      const submitButton = document.getElementById("submitButton");

      // pending button
      submitButton.innerText = "Enviando...";

      const response = await fetch(`${origin}/api/subscribe.json`, {
        method: "POST",
        body: formData,
      });

      // canceling pending
      submitButton.innerText = "Enviar formulario";

      console.log({ response });

      if (!response.ok) return;

      form.reset();
    });
  });
</script>
