---
import Layout from "@/layouts/Layout.astro";
import H2Typography from "@/components/ui/H2Typography.astro";
import TVIcon from "@/components/ui/icons/TVIcon.astro";
import CubeIcon from "@/components/ui/icons/CubeIcon.astro";
import PaintBrushIcon from "@/components/ui/icons/PaintBrushIcon.astro";
import WrenchIcon from "@/components/ui/icons/WrenchIcon.astro";
import Separator from "@/components/ui/Separator.astro";

const whatIDo = [
  {
    icon: TVIcon,
    title: "Webs completas",
    description:
      "Transformo tu idea en una web real con la que podrás conseguir más ventas e impresiones.",
  },
  {
    icon: PaintBrushIcon,
    title: "Landing Pages del Figma al código",
    description: "Convierto tu diseño en una web real, idéntica al diseño",
  },
  {
    icon: CubeIcon,
    title: "Desarrollos personalizados",
    description:
      "Añado funcionalidades extra que necesites para generar más conversiones.",
  },
  {
    icon: WrenchIcon,
    title: "Optimización de tu sitio",
    description:
      "Consigo que tu sitio vaya más rápido y corrijo errores que tengas para evitar perdidas en tus ventas o impresiones.",
  },
];
---

<Layout
  title="Servicios | Ibrahim Sanusi"
  description="Estos son los servicios técnicos que ofrezco para construir tu página web u optimizarla."
  canonical="servicios"
>
  <main class="space-y-16 max-w-4xl m-auto p-[170px_16px_40px_16px]">
    <div class="space-y-4">
      <h1 class="text-7xl text-center">Servicios</h1>
      <p class="text-center text-pretty mx-auto text-white/70">
        Creación de un sitio web con <span class="text-brand">Wordpress</span> o
        tecnologías webs como <span class="text-brand"
          >HTML5, CSS4 y JavaScript</span
        >, maquetación del Figma al código y creación de un sitio web totalmente
        personalizado.
      </p>
    </div>

    <section class="space-y-10">
      <section class="flex flex-row gap-8 items-center">
        <H2Typography>Qué hago</H2Typography>
        <Separator />
      </section>
      <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {
          whatIDo.map((item) => {
            const CustomIcon = item.icon;
            return (
              <article class="p-2 rounded-2xl border-brand-fifth-light border">
                <div class="w-full bg-brand-fifth-light p-6 rounded-lg">
                  <div class="rounded-full bg-brand-fifth-light p-4 w-fit m-auto">
                    <CustomIcon />
                  </div>
                </div>

                <div class="p-6 flex flex-col gap-2">
                  <h3 class="text-center">{item.title}</h3>
                  <p class="text-center text-gray-second">{item.description}</p>
                </div>
              </article>
            );
          })
        }
      </section>
    </section>
  </main>
</Layout>
