---
import H2Typography from "@/components/ui/H2Typography.astro";
import CheckIcon from "@/components/ui/icons/CheckIcon.astro";
import Link from "@/components/ui/Link.astro";
import Layout from "@/layouts/Layout.astro";

const prices = [
  {
    title: "Plan emprendedor",
    description: "Plan enfocado para emprendedores y pequeñas empresas.",
    price: {
      amount: 500,
      per: "proyecto",
    },
    checks: [
      "Página de inicio",
      "Página de categorías",
      "Página de contacto",
      "Animaciones",
      "Diseño móvil y escritorio",
      "Accesible",
      "Optimizado SEO",
      "Revisión al finalizar",
    ],
    href: "/contacto",
  },
  {
    title: "Mantenimiento mensual",
    description:
      "Para empresas o proyectos que necesitan mejoras y actualizaciones constantes.",
    price: {
      amount: 120,
      per: "mes",
    },
    checks: [
      "Actualizaciones y seguridad",
      "Optimización continua",
      "Prioridad en soporte",
      "Hasta 4 cambios al mes",
    ],
    href: "/contacto",
  },
];
---

<Layout>
  <main class="space-y-16 max-w-4xl m-auto p-[170px_16px_40px_16px]">
    <div class="space-y-4">
      <h1 class="text-7xl text-center">Web completas</h1>
      <p class="text-center text-pretty mx-auto text-white/70">
        <span class="text-brand">Mejoro tus ventas</span> con hasta 4 secciones atractivas,
        <span class="text-brand">diseñadas para el móvil</span> y con una experiencia
        de usuario excelente.
      </p>
    </div>
    <div id="pricing" class="space-y-6 scroll-mt-24">
      <H2Typography>Servicios</H2Typography>
      <section class="gap-4 grid grid-cols-1 md:grid-cols-2">
        {
          prices.map((item) => (
            <article class="rounded-2xl space-y-4 p-10 border-8 border-brand-fifth-light">
              <div class="space-y-1">
                <h3>{item.title}</h3>
                <p class="text-gray-second text-sm">{item.description}</p>
              </div>

              <div class="flex">
                <Link href={item.href} class="text-center w-full">
                  Quiero más información
                </Link>
              </div>

              <ul>
                {item.checks.map((check) => (
                  <li class="text-white flex flex-row items-center gap-2">
                    <CheckIcon />
                    <span>{check}</span>
                  </li>
                ))}
              </ul>
            </article>
          ))
        }
      </section>
    </div>
  </main>
</Layout>
