---
import Footer from "@/components/home/Footer.astro";
import Header from "@/components/home/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Desarrollador Web Freelance | Maquetación y Sitios Modernos — Ibrahim
      Sanusi
    </title>
    <meta
      name="description"
      content="Soy desarrollador web especializado en la maquetación y creación de sitios modernos, rápidos y adaptables. Ofrezco soluciones web personalizadas para empresas y emprendedores."
    />
    <meta
      name="keywords"
      content="programador web, desarrollo web, maquetación web, sitios web, freelance, HTML, CSS, JavaScript"
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    position: relative;
  }
</style>
