---
import Footer from "@/components/home/Footer.astro";
import Header from "@/components/home/Header.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

const {
  title = "Desarrollador Web Freelance Madrid — Landing Pages y Sitios Responsivos | Ibrahim Sanusi",
  description = "Programador web especializado en frontend y maquetación. Diseño y construyo páginas de aterrizaje o landings rápidas, responsivas y optimizadas para negocios y profesionales. Portfolio, servicios y contacto.",
  canonical,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="robots" content="index, follow" />
    <link
      rel="canonical"
      href={`https://ibrasanusi.com/${canonical ?? ""}`.replace(/\/$/, "")}
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="maquetador web freelance maquetador web landing pages desarrollador web sitios pequeños desarrollador web sitios medianos desarrollador frontend freelance maquetación web profesional web rápida y optimizada diseñador web en madrid"
    />
  </head>
  <body>
    <Header />
    <slot />
    <Analytics />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    position: relative;
  }
</style>
