---
// src/layouts/BlogLayout.astro
const { title } = Astro.props.frontmatter;
import "../styles/global.css";
import Layout from "./Layout.astro";
---

<Layout title={title} canonical="legal">
  <section
    class="max-w-4xl mx-auto space-y-6 p-[140px_16px_40px_16px] text-pretty"
  >
    <h1 class="text-4xl md:text-6xl font-bold mb-12 text-white text-center">
      {title}
    </h1>
    <slot />
  </section>
</Layout>

<style is:inline>
  p {
    color: var(--color-gray-second);
  }

  strong {
    color: var(--color-brand);
  }

  ul,
  ol {
    padding-left: 1.5rem;
    list-style-type: "- ";
    color: #ffffffaa;
  }

  /* Quitar el estilo de esta página al footer */
  ul#footer-pages,
  ol#footer-pages {
    padding-left: 0px;
  }
  #footer-pages li {
    list-style: none;
  }

  /* Quitar el estilo de esta página al header */
  ul#layout-header,
  ol#layout-header {
    padding-left: 8px;
  }
  #layout-header li {
    list-style: none;
  }

  h2 {
    font-size: 26px;
  }

  @media (min-width: 700px) {
    h2 {
      font-size: 32px;
    }
  }
</style>
