---
interface Props {
  variants?: "primary" | "secondary";
  class?: string;
  type?: "button" | "submit" | "reset";
  id?: string;
}

const {
  variants = "primary",
  class: className,
  type = "button",
  id,
} = Astro.props as Props;
---

<button
  id={id}
  type={type}
  class:list={[
    {
      "rounded-2xl py-4 px-4 sm:px-8 bg-brand text-black":
        variants === "primary",
      "rounded-2xl py-4 px-4 sm:px-8 bg-gray": variants === "secondary",
    },
    "overflow-y-hidden h-14 group cursor-pointer",
    className,
  ]}
>
  <div
    class="flex flex-col group-hover:-translate-y-10 transform transition-transform"
  >
    <span class="mb-4 group-hover:opacity-0 transition-opacity duration-500">
      <slot />
    </span>
    <span
      class="opacity-0 group-hover:opacity-100 transition-opacity duration-500"
    >
      <slot />
    </span>
  </div>
</button>
