---
interface Props {
  variants?: "primary" | "secondary";
  class?: string;
  href: string;
}

const { variants = "primary", class: className, href } = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    {
      "bg-brand w-fit place-self-center rounded-lg px-6 py-4 font-bold text-white lg:place-self-start":
        variants === "primary",
      "bg-gray rounded-2xl px-4 py-4 sm:px-8": variants === "secondary",
    },
    "group h-14 cursor-pointer overflow-y-hidden",
    className,
  ]}
>
  <div
    class="flex transform flex-col transition-transform group-hover:-translate-y-10"
  >
    <span class="mb-4 transition-opacity duration-500 group-hover:opacity-0">
      <slot />
    </span>
    <span
      aria-hidden="true"
      class="opacity-0 transition-opacity duration-500 group-hover:opacity-100"
    >
      <slot />
    </span>
  </div>
</a>
